<h1>Password Reset</h1>

<%= form_with url: password_reset_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <%= form.submit "Reset Password" %>
<% end %>