<div data-dropdown-target="menu" class="hidden absolute top-full right-0 mt-2 w-48 bg-white border border-gray-300 dark:border-gray-600 rounded-lg z-10 transition transform duration-300 ease-out scale-95">
  <%= yield %>
</div>